# Dependencies
node_modules/
**/node_modules/

# Build output
dist/
**/dist/
.angular/
**/.angular/

# Local secrets & env
Backend/config/local.json
.env
.env.local
Backend/config/firebase-service-account.json

# Logs & OS
*.log
npm-debug.log*
.DS_Store

# IDE
.idea/
*.swp
*.swo

# Test coverage
coverage/
**/coverage/
